# Environment variables and API keys
API.env
.env

# Audio files
wav/

#literature
literature/
# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/

# Results and logs (optional)
*.log
